@import url('https//fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kaushan+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(161, 103, 216);
}

header .logo {
  position: relative;
  padding: 3px;
  top: 2px;
  max-width: 120px;
}

header ul {
  position: relative;
  display: flex;
  font-size: 20px;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;

  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

header ul li a:hover {
  color: #ff8ed4
}

.section-home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  font-size: 20px;
}

.content .textBox h2 {
  color: #333;
  font-size: 3em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #70084ec4;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
}

.content .textBox p span {
  font-weight: 900;
}

.content .textBox a {
  display: inline-block;
  margin-top: 40px;
  background: #70084ec4;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 20px;
}

.content .imgBox {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 20px;
}

.content .imgBox p {
  width: 200px;
  display: flex;
  justify-content: space-around;
  padding-right: 0px;
  margin-top: 300px;
  color: #fff;
  font-size: 39px;
  font-weight: bold;
  text-align: justify;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff8ed4;
  clip-path: circle(650px at right 800px);
}

/*=======================  Promoções ============================*/

.heading {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
}

.heading h1 {
  font-size: 65px;
  padding-top: 90px;
  padding-bottom: 50px;
  color: #70084ec4;
  font-family: 'Kaushan Script', cursive;
}
.heading h3 {
  color: #1b0312;
  font-size: 25px;
}
.content-promo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 100px;
}

.content-promo .promoBx {
  width: 40%;
  padding: 20px;
}

.content-promo .promoBx img {
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

/*=======================  delivery  ============================*/

.delivery-content {
  background: rgb(235, 227, 227);
}
.content-delivery {
  width: 100%;
  padding-top: 90px;
  text-align: center;
  margin: 0;
  color: #111;
}

.content-delivery p {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: 'Helvetica Neue';
}

section .delivery {
  width: 100%;
  height: 500px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.delivery a img {
  padding: 20px 20px;
  background: rgb(235, 227, 227);
}
.content-delivery-pedido {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  margin: 0;
  color: #111;
}

.content-delivery-pedido p {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Kaushan Script', cursive;
  color: #70084ec4;
}

/*======================= Responsive =======================*/

@media (max-width: 900px) {
  header {
    padding: 20px;
  }

  header .logo {
    max-width: 100px;
  }

  header ul {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }

  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }

  header ul li a {
    font-size: 1.5em;
    margin: 5px 0;
    color: black;
  }

  section {
    padding: 20px 20px 120px;
  }

  .content {
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .content .textBox {
    max-width: 100%;
  }

  .content .imgBox {
    max-width: 100%;
    justify-content: center;
  }

  .content .imgBox img {
    max-width: 260px;
    height: 300px;
  }

  .content .imgBox p {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: rgb(255, 251, 251);
    font-size: 30px;
    font-weight: bold;

    position: relative;
    padding-right: 50px;
  }

  .thumb li img {
    max-width: 50px;
  }

  .circle {
    clip-path: circle(400px at center bottom);
  }
}

@media (max-width: 1234px) {
}

/*========================teste======================*/

.delivery {
}
