@import url('https//fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kaushan+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(161, 103, 216);
}

header .logo {
  position: relative;
  padding: 3px;
  top: 2px;
  max-width: 120px;
}

header ul {
  position: relative;
  display: flex;
  font-size: 20px;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;

  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

header ul li a:hover {
  color: #ff8ed4;
}

.section-home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  font-size: 20px;
}

.content .textBox h2 {
  color: #333;
  font-size: 3em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #70084ec4;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
}

.content .textBox p span {
  font-weight: 900;
}

.content .textBox a {
  display: inline-block;
  margin-top: 40px;
  background: #70084ec4;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 20px;
}

.content .imgBox {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 20px;
}

.content .imgBox p {
  width: 200px;
  display: flex;
  justify-content: space-around;
  padding-right: 0px;
  margin-top: 300px;
  color: #fff;
  font-size: 39px;
  font-weight: bold;
  text-align: justify;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff8ed4;
  clip-path: circle(650px at right 800px);
}

/*=======================  Promoções ============================*/

#promo {
  background-color: #f3edf0;
}
.heading {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
}

.heading h1 {
  font-size: 65px;
  padding-top: 90px;
  padding-bottom: 50px;
  color: #70084ec4;
  font-family: 'Kaushan Script', cursive;
}
.heading h3 {
  color: #1b0312;
  font-size: 20px;
}
.content-promo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-promo .promoBx {
  width: 40%;
  padding: 20px;
}

.content-promo .promoBx img {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/*=======================  delivery  ============================*/

#delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100;
  padding-bottom: 400px;

  padding-top: 100px;
}
#delivery div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#delivery h1 {
  padding: 60px;
  padding-bottom: 100px;
  font-size: 30px;
}

#delivery p {
  padding: 60px;
  padding-bottom: 100px;
  font-size: 40px;
  font-family: 'Kaushan Script', cursive;
  color: #70084ec4;
}
#delivery div img {
  display: flex;
  flex-direction: column;
}

/*=================== Footer Contato ===========================*/
#footer-contato {
  color: white;
}

footer {
  padding-top: 80px;
  bottom: 0px;
  width: 100%;
  background: rgb(161, 156, 156);
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}

.center .content a {
  color: #fff;
  text-decoration: none;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 15px;
  padding-right: 90px;
}

.center .content .phone a {
  text-decoration: none;
  color: #fff;
}

.bottom center {
  padding: 10px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1200px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

/*======================= Responsive  Header =======================*/

@media (max-width: 900px) {
  header {
    padding: 20px;
  }

  header .logo {
    max-width: 100px;
  }

  header ul {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }

  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }

  header ul li a {
    font-size: 1.5em;
    margin: 5px 0;
    color: black;
  }

  section {
    padding: 20px 20px 120px;
  }

  .content {
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .content .textBox {
    max-width: 100%;
  }

  .content .imgBox {
    max-width: 100%;
    justify-content: center;
  }

  .content .imgBox img {
    max-width: 260px;
    height: 300px;
  }

  .content .imgBox p {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: rgb(255, 251, 251);
    font-size: 30px;
    font-weight: bold;

    position: relative;
    padding-right: 50px;
  }

  .thumb li img {
    max-width: 50px;
  }

  .circle {
    clip-path: circle(400px at center bottom);
  }

  /*===================== Promoções Responsive =======================*/
  .content-promo .promoBx {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promo .heading h1 {
    font-size: 30px;
  }

  /*============ Delivery Responsive =================*/

  #delivery {
    padding-top: 0;
    height: 100%;
  }
  #delivery div {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 20px 20px;
  }
  #delivery h1 {
    font-size: 1.4em;
    text-align: center;
  }
}

@media (max-width: 1150px) {
  header {
    padding: 20px;
  }

  header .logo {
    max-width: 100px;
  }

  header ul {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }

  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }

  header ul li a {
    font-size: 1.5em;
    margin: 5px 0;
    color: black;
  }

  section {
    padding: 20px 20px 120px;
  }

  .content {
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .content .textBox {
    max-width: 100%;
  }

  .content .imgBox {
    max-width: 100%;
    justify-content: center;
  }

  .content .imgBox img {
    max-width: 260px;
    height: 300px;
  }

  .content .imgBox p {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: rgb(255, 251, 251);
    font-size: 30px;
    font-weight: bold;

    position: relative;
    padding-right: 50px;
  }

  .thumb li img {
    max-width: 50px;
  }

  .circle {
    clip-path: circle(400px at center bottom);
  }
}

/*===================== Promoções Reponsive ================================*/
